<main>
  <h1>{{ page.title }}</h1>
  {% if page.metafields.bannes.acf_bn %}
    {% echo(page.metafields.Checkbox.acf_cb) %}
    {% if (page.metafields.Checkbox.acf_cb == 'true') %}
  <div>
    <img src="{{ page.metafields.bannes.acf_bn }}">
  </div>
    {% endif %}
  {% endif %}
  {% if page.metafields.Text.acf_text %}
    <p>{{page.metafields.Text.acf_text}}</p>
  {% endif %}
  <div class="content">
    {{ page.content }}
  </div>
</main>