<main>
  <h1>{{ page.title }}</h1>
  {% if page.metafields.bannes.acf_bn %}
    {% if page.metafields.Checkbox.acf_cb %}
  {% echo(page.metafields.Checkbox.acf_cb) %}
  <div>
    <img src="{{ page.metafields.bannes.acf_bn }}">
  </div>
    {% endif %}
  {% endif %}
  <div class="content">
    {{ page.content }}
  </div>
</main>